@font-face {
	font-family: 'Figtree';
	src: url('/fonts/Figtree-VariableFont_wght.ttf') format('truetype');
}

@font-face {
	font-family: 'Figtree-ExtraBold';
	src: url('/fonts/Figtree-ExtraBold.ttf') format('truetype');
}
  
/* Apply the font */
body {
	font-family: 'Figtree', sans-serif;
	line-height: 150%;
	letter-spacing: 0px;
	background-color: #F4D04E;
	margin: 0;
	padding: 0; 
	box-sizing: border-box;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}